.container {
  width: 1000px;
  /* background-color: blanchedalmond; */
  margin: 0 auto;
}

.jumbo {
  padding: 20px;
  text-align: center;
}

.product {
  border: 1px solid #999;
  width: 400px;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  margin: 20px;
}